body {
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  font-style: italic;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:hover {
  background-color: #000000;
  color: #d8ff61;
}

section,
header,
footer {
  padding: 0 2.4em;
  margin-bottom: 2.5em;
  line-height: 2em;
  box-sizing: border-box;
}

img {
  width: 20%;
  height:auto;
  border: solid 10px #d8ff61;
  border-radius: 5%;
  margin: 2.5em 0;
}

.text-color--primary {
  color: #d8ff61;
}

.text-weight--bold {
  font-weight: bold;
}

.color-fill--primary {
  background-color: #d8ff61;
}

@media only screen
  and (min-width: 529px)
  and (max-width: 865px) {
    section {
      min-width: 70%;
    }
}

@media only screen
  and (min-width: 375px)
  and (max-width: 667px) {
  section {
    width: 100%;
  }
}
