body {
  font-family: "DejaVu Sans Mono", monospace;
}

a {
  color: black;
  font-style: italic;
  font-weight: bold;
}

a:visited {
  color: black;
}

section,
header {
  padding: 0 2.4em;
  margin-bottom: 2.5em;
  line-height: 2em;
  width: 40%;
  box-sizing: border-box;
}

img {
  width: 90%;
  height:auto;
  border: solid 10px #ffc6f2;
  border-radius: 5%;
  margin: 2.5em 0;
}

.text-color--primary {
  color: #ffc6f2;
}

.color-fill--primary {
  background-color: #ffc6f2;
}

@media only screen
  and (min-width: 529px)
  and (max-width: 865px) {
    section {
      min-width: 70%;
    }
}

@media only screen
  and (min-width: 375px)
  and (max-width: 667px) {
  section {
    width: 100%;
  }
}
